@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section MyStyle{
    <style>
        table {
            font-family: arial, sans-serif;
            color: black;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #f8f8f8;
            text-align: left;
            padding: 8px;
        }


        /*tr:nth-child(even) {
            background-color: #dddddd;
        }*/
    </style>

}<div><h2 style="color:#0074D9; font-family:'Century Gothic Light'"><strong>Stock</strong></h2></div>

<div>

    <table>

        <tr>
            <td>Category</td>
            <td>@Html.DropDownList("Category", null, "--select--", null)</td>

            <td>Start Date</td>
            <td><input type="date" id="StartDate" /> </td>

        </tr>


        <tr>
            <td>Product<input type="hidden" id="productname"></td>
            <td>
                <select id="Product">
                    <option value=-1>--select--</option>
                </select>
            </td>

            <td>End Date</td>
            <td><input type="date" id="EndDate" /> </td>


        </tr>
        <tr>
            <td>
                <button class="btn btn-primary" type="button" id="get">
                    <i class="animated--fade-in">Search</i>
                </button>
            </td>

        </tr>


</table>
</div>

@*<a href="javascript:genPDF()">Download</a>*@
<div class="row">
    <div class="col-md-12" id="stockPartial"></div>
</div>
@section MyScript{
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@*<script type="text/javascript" >
    function genPDF() {

        var doc = document.getElementById("stockPartial");
        var wme = window.open("", "", "width=900,height=700");
        wme.document.write(printme.outerHTML);
        wme.document.close();
        wme.focus();
        wme.print();
        wme.close();
    }



    </script>*@
<script>
    $(document).ready(function () {
        var link = document.getElementById('search');
        // link.style.display = 'none';
        link.style.visibility = 'hidden';
        $("#Category").change(function () {



        var categoryId = $("#Category").val();
        var jsonRequestData = { categoryId: categoryId };
        $.ajax({
            url: "/Purchase/GetProductByCategoryId",
            type: "POST",//GET/POST
            data: jsonRequestData,
            success: function (products) {
                //alert("success");
                $("#Product").empty();
                $("#Product").append('<Option value="' + -1 + '">' + "--select--" + '</Option>');
                // $("#Student").append('<Option> value="' + value.Id + '">' + "--select--" + '</Option>')
                $.each(products, function (key, value) {

                    $("#Product").append('<Option value="' + value.Id + '">' + value.Name + '</Option>');

                });


            },
            error: function () { alert("Error");  }

        });

        });

        /////////////////////////////////

        $('#get').click(function () {

            if ($('#Product').val() == "-1") {

                // $("#validbill").append('*Bill No is Empty');
                alert('Product not selected');
                return;

            }
   
            if ($('#StartDate').val() == "") {

               
                alert('Select Start Date');
                return;

            }

            if ($('#EndDate').val() == "") {


                alert('Select End Date');
                return;

            }







            var proId = $("#Product").val();
            var startdate = $("#StartDate").val();
            var enddate = $("#EndDate").val();
            // startdate.setDate($("#StartDate").val());
            //enddate.setDate($("#EndDate").val());
            var parameters = { ProductId: proId, startDate: startdate, endDate: enddate };

            $.ajax({
                url: "/Stock/GetStockByDate",
                type: "GET",//GET/POST
                data: parameters,// JSON.stringify({ ProductId: proId, startDate: startdate, endDate: enddate }),
                success: function (data) {

                    var rdata = data;

                    $("#stockPartial").html(data);
                },
                error: function () { alert("Error"); }

            });

        });





        ///////////////////////////

        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#search").keyup(function () {
            var searchtext = $("#search").val().toLocaleLowerCase();



            $(".Search").each(function () {

                if (!Contains($(this).text().toLowerCase(), searchtext)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            }
            )
        });





    });


</script>



    }