@model Brainstorm.Models.CategoryViewModel
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="color:black ;background-color:white">
    <tr>
        <th>Sl</th>
        <th>Code</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    @{ int i = 1;}
    @foreach (var cat in Model.Categories)
            {
        <tr class="Search">
            <td>@(i++)</td>
            <td>@cat.Code</td>
            <td>@cat.Name</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Category", new { Id = cat.Id }, null)
                @*@Html.ActionLink("Delete", "Delete", "Category", new { Id = cat.Id }, null)*@
            </td>
        </tr>
    }

</table>