CREATE DATABASE [Brainstorm.DatabaseContext.DatabaseContext.ProjectDbContext]
USE [Brainstorm.DatabaseContext.DatabaseContext.ProjectDbContext]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10-Dec-19 1:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 10-Dec-19 1:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 10-Dec-19 1:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Contact] [nvarchar](max) NULL,
	[LoyaltyPoint] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10-Dec-19 1:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[CategoryId] [int] NOT NULL,
	[ReorderLevel] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseProducts]    Script Date: 10-Dec-19 1:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ProductName] [nvarchar](max) NULL,
	[ProductCode] [nvarchar](max) NULL,
	[MfgDate] [date] NOT NULL,
	[ExpDate] [date] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [float] NOT NULL,
	[TotalPrice] [float] NOT NULL,
	[MRPPrice] [float] NOT NULL,
	[Remarks] [nvarchar](max) NULL,
	[Purchase_Id] [int] NULL,
 CONSTRAINT [PK_dbo.PurchaseProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchases]    Script Date: 10-Dec-19 1:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[BillNo] [nvarchar](max) NULL,
	[SupplierId] [int] NOT NULL,
	[Code] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Purchases] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleProducts]    Script Date: 10-Dec-19 1:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ProductName] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[MRP] [float] NOT NULL,
	[TotalMRP] [float] NOT NULL,
	[Sale_Id] [int] NULL,
 CONSTRAINT [PK_dbo.SaleProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 10-Dec-19 1:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Code] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Sales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 10-Dec-19 1:16:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Contact] [nvarchar](max) NULL,
	[ContactPerson] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Suppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Code], [Name]) VALUES (2, N'1001', N'Electronics')
INSERT [dbo].[Categories] ([Id], [Code], [Name]) VALUES (3, N'1002', N'Accessories')
INSERT [dbo].[Categories] ([Id], [Code], [Name]) VALUES (4, N'1003', N'Apparel')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Code], [Name], [Address], [Email], [Contact], [LoyaltyPoint]) VALUES (2, N'3001', N'Jalil', N'Dhaka', N'j@m.com', N'01425785436', 81)
INSERT [dbo].[Customers] ([Id], [Code], [Name], [Address], [Email], [Contact], [LoyaltyPoint]) VALUES (3, N'3002', N'Masud', N'Dhaka', N'd@mail.com', N'68894848548', 50)
INSERT [dbo].[Customers] ([Id], [Code], [Name], [Address], [Email], [Contact], [LoyaltyPoint]) VALUES (4, N'3003', N'Liza', N'Dhaka', N'n@mail.com', N'87657657795', 101)
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Code], [Name], [CategoryId], [ReorderLevel], [Description]) VALUES (14, N'2001', N'TV', 2, 25, N'Good')
INSERT [dbo].[Products] ([Id], [Code], [Name], [CategoryId], [ReorderLevel], [Description]) VALUES (15, N'2002', N'Refrigerator', 2, 25, N'Good')
INSERT [dbo].[Products] ([Id], [Code], [Name], [CategoryId], [ReorderLevel], [Description]) VALUES (16, N'2003', N'Microwave', 2, 25, N'Good')
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[PurchaseProducts] ON 

INSERT [dbo].[PurchaseProducts] ([Id], [ProductId], [ProductName], [ProductCode], [MfgDate], [ExpDate], [Quantity], [UnitPrice], [TotalPrice], [MRPPrice], [Remarks], [Purchase_Id]) VALUES (46, 14, N'TV', N'2001', CAST(N'2019-12-01' AS Date), CAST(N'2019-12-31' AS Date), 25, 34000, 850000, 42500, N'none', 44)
INSERT [dbo].[PurchaseProducts] ([Id], [ProductId], [ProductName], [ProductCode], [MfgDate], [ExpDate], [Quantity], [UnitPrice], [TotalPrice], [MRPPrice], [Remarks], [Purchase_Id]) VALUES (47, 15, N'Refrigerator', N'2002', CAST(N'2019-12-01' AS Date), CAST(N'2019-12-31' AS Date), 12, 78000, 936000, 97500, N'none', 44)
INSERT [dbo].[PurchaseProducts] ([Id], [ProductId], [ProductName], [ProductCode], [MfgDate], [ExpDate], [Quantity], [UnitPrice], [TotalPrice], [MRPPrice], [Remarks], [Purchase_Id]) VALUES (48, 21, N'Folkallur', N'2008', CAST(N'2019-12-01' AS Date), CAST(N'2019-12-31' AS Date), 35, 260, 9100, 325, N'none', 45)
SET IDENTITY_INSERT [dbo].[PurchaseProducts] OFF
SET IDENTITY_INSERT [dbo].[Purchases] ON 

INSERT [dbo].[Purchases] ([Id], [Date], [BillNo], [SupplierId], [Code]) VALUES (44, CAST(N'2019-10-01' AS Date), N'Bll1', 2, N'2019-0001')
INSERT [dbo].[Purchases] ([Id], [Date], [BillNo], [SupplierId], [Code]) VALUES (45, CAST(N'2019-10-04' AS Date), N'Bll2', 3, N'2019-0002')
INSERT [dbo].[Purchases] ([Id], [Date], [BillNo], [SupplierId], [Code]) VALUES (46, CAST(N'2019-10-10' AS Date), N'Bll3', 5, N'2019-0003')
SET IDENTITY_INSERT [dbo].[Purchases] OFF
SET IDENTITY_INSERT [dbo].[SaleProducts] ON 

INSERT [dbo].[SaleProducts] ([Id], [ProductId], [ProductName], [Quantity], [MRP], [TotalMRP], [Sale_Id]) VALUES (77, 15, N'Refrigerator', 1, 81250, 81250, 59)
INSERT [dbo].[SaleProducts] ([Id], [ProductId], [ProductName], [Quantity], [MRP], [TotalMRP], [Sale_Id]) VALUES (78, 21, N'Folkallur', 12, 325, 3900, 60)
INSERT [dbo].[SaleProducts] ([Id], [ProductId], [ProductName], [Quantity], [MRP], [TotalMRP], [Sale_Id]) VALUES (79, 22, N'Nakrow', 20, 425, 8500, 60)
SET IDENTITY_INSERT [dbo].[SaleProducts] OFF
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([Id], [Date], [CustomerId], [Code]) VALUES (58, CAST(N'2019-10-01' AS Date), 2, N'2019-0001')
INSERT [dbo].[Sales] ([Id], [Date], [CustomerId], [Code]) VALUES (59, CAST(N'2019-10-01' AS Date), 4, N'2019-0002')
INSERT [dbo].[Sales] ([Id], [Date], [CustomerId], [Code]) VALUES (60, CAST(N'2019-10-04' AS Date), 3, N'2019-0003')
SET IDENTITY_INSERT [dbo].[Sales] OFF
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([Id], [Code], [Name], [Address], [Email], [Contact], [ContactPerson]) VALUES (2, N'4001', N'Manda Inc.', N'Dhaka', N'manda@m.com', N'01839287462', N'Jia')
INSERT [dbo].[Suppliers] ([Id], [Code], [Name], [Address], [Email], [Contact], [ContactPerson]) VALUES (3, N'4002', N'Ronda', N'Dhaka', N'Ronda@m.com', N'01839287432', N'Lisa')
INSERT [dbo].[Suppliers] ([Id], [Code], [Name], [Address], [Email], [Contact], [ContactPerson]) VALUES (5, N'4003', N'Honda Co.', N'Dhaka', N'hon@mail.com', N'01247589632', N'Moin')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[PurchaseProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseProducts_dbo.Purchases_Purchase_Id] FOREIGN KEY([Purchase_Id])
REFERENCES [dbo].[Purchases] ([Id])
GO
ALTER TABLE [dbo].[PurchaseProducts] CHECK CONSTRAINT [FK_dbo.PurchaseProducts_dbo.Purchases_Purchase_Id]
GO
ALTER TABLE [dbo].[Purchases]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Purchases_dbo.Suppliers_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Purchases] CHECK CONSTRAINT [FK_dbo.Purchases_dbo.Suppliers_SupplierId]
GO
ALTER TABLE [dbo].[SaleProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SaleProducts_dbo.Sales_Sale_Id] FOREIGN KEY([Sale_Id])
REFERENCES [dbo].[Sales] ([Id])
GO
ALTER TABLE [dbo].[SaleProducts] CHECK CONSTRAINT [FK_dbo.SaleProducts_dbo.Sales_Sale_Id]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sales_dbo.Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_dbo.Sales_dbo.Customers_CustomerId]
GO
