
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section MyStyle{
    <style>
        table {
            font-family: arial, sans-serif;
            color: black;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #f8f8f8;
            text-align: left;
            padding: 8px;
        }


        /*tr:nth-child(even) {
            background-color: #dddddd;
        }*/
    </style>

}<div><h2 style="color:#0074D9; font-family:'Century Gothic Light'"><strong>Purchase Report</strong></h2></div>

<div>

    <table>

        <tr>

            <td>Start Date</td>
            <td><input type="date" id="StartDate" /> </td>

            <td>End Date</td>
            <td><input type="date" id="EndDate" /> </td>


        </tr>



        <tr>
            <td>
                <button class="btn btn-primary" type="button" id="get">
                    <i class="animated--fade-in">Search</i>
                </button>
            </td>

        </tr>


    </table>
</div>


<div class="row">
    <div class="col-md-12" id="stockPartial"></div>
</div>
@section MyScript{
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


    <script>
    $(document).ready(function () {


        var link = document.getElementById('search');
        // link.style.display = 'none';
        link.style.visibility = 'hidden';
        /////////////////////////////////

        $('#get').click(function () {
            if ($('#StartDate').val() == "") {


                alert('Select Start Date');
                return;

            }

            if ($('#EndDate').val() == "") {


                alert('Select End Date');
                return;

            }


            var startdate = $("#StartDate").val();
            var enddate = $("#EndDate").val();
            // startdate.setDate($("#StartDate").val());
            //enddate.setDate($("#EndDate").val());
            var parameters = { startDate: startdate, endDate: enddate };

            $.ajax({
                url: "/PurchaseReport/GetPurchaseReportByDate",
                type: "GET",//GET/POST
                data: parameters,// JSON.stringify({ ProductId: proId, startDate: startdate, endDate: enddate }),
                success: function (data) {

                    var rdata = data;

                    $("#stockPartial").html(data);
                },
                error: function () { alert("Error"); }

            });

        });





        ///////////////////////////


    });


    </script>



}
